* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #e6e7e9;
    font-size: 100%;
    color: #3a5461;
    max-width: 650px;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.space-between-justify {
    justify-content: space-between;
}

.center-justify {
    justify-content: center;
}

.center-align {
    align-items: center;
}

.margin-5 {
    margin: 5px;
}

.chevron {
    color: #131a2c;
}