* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #2a2c34;
    font-size: 110%;
    color: #8d93b5;
}

.grey {
    color: #8d93b5
}

.green {
    color: #a0c284
}

.white {
    color: #e0e6ff
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.space-between-justify {
    justify-content: space-between;
}

.center-justify {
    justify-content: center;
}

.center-align {
    align-items: center;
}

.margin-5 {
    margin: 5px;
}

.margin-top-20 {
    margin-top: 20px;
}

.chevron {
    color: #a0c284;
    margin-left: -6px;
}

@media screen and (min-width:750px) {
    .row-gte-750 {
        flex-direction: row !important;
    }

    .space-between-justify-gte-750 {
        justify-content: space-between !important;
    }

    .hide-gte-750 {
        display: none !important;
    }

    .margin-l-gte-750 {
        margin-left: 100px;
    }
}

@media screen and (max-width:749px) {
    .hide-lte-749 {
        display: none !important;
    }

    .align-bottom-lte-749 {
        order: 2;
    }
}

.link-box {
    border: solid #131a2c 1px;
    width: 100px;
    height: 40px;
    padding: 5px;
    -webkit-box-shadow: 0 0px 0px 0px #797979;
    box-shadow: 0 0px 0px 0px #797979;
    text-align: center;
}

a.link-box {
    text-decoration: none;
}

.link-box:hover {
    -webkit-box-shadow: 0 9px 18px 0px #999;
    box-shadow: 0 9px 18px 0px #999;
}

a.icon {
    opacity: .5;
    transition: opacity .5s ease-in;
}

a.icon:hover {
    opacity: 1;
    
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid;
    margin: 1em 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:link {
  color: #8d93b5;
}

a:visited {
  color: #8d93b5;
}

a:hover {
  color: #a0c284;
}

a:active {
  color: #a0c284;
}

.blinking {
    display: inline-block;
    width: 15px;
    height: 2em;
    background-color: #a0c284;
    -webkit-animation: blinking 2s infinite;
    animation: blinking 2s infinite;
}

@keyframes blinking {
    0% {
        background-color: transparent;
    }
    49% {
        background-color: transparent;
    }
    50% {
        background-color: #a0c284;
    }
}

h1 {
    margin-block-start: .5em;
    margin-block-end: .5em;
}
h2 {
    margin-block-start: .5em;
    margin-block-end: .5em;
}
h3 {
    margin-block-start: .5em;
    margin-block-end: .5em;
}
